@media (max-width: 1360px) {
    .container {
        max-width: 97% !important;
    }

    #services .card-body {
        border-radius: 5px !important;
        padding: 60px 30px 30px 30px;
    }

    #services .card-hover {
        margin-right: 25px;
        margin-left: 25px;
    }

    #services .card-body img {
        max-width: 110px !important;
        transform: translate(250px, -100px);
    }

}

@media (max-width: 1250px) {
    #services .card-body img {
        max-width: 100px !important;
        transform: translate(230px, -100px);
    }
}

@media (max-width: 1159px) {
    #services .card-body img {
        transform: translate(200px, -100px);
    }
}

@media (max-width: 1099px) {
    #services .card-body img {
        max-width: 95px !important;
        transform: translate(180px, -100px);
    }
}

@media (max-width: 999px) {
    header {
        margin-top: 0;
        padding: 0 !important;
        background-color: transparent !important;
    }

    header .container {
        padding: 32px !important;
        justify-content: flex-end;
    }

    header #navbarNav {
        width: 100% !important;
        max-width: 100% !important;
        height: 100% !important;
        max-height: 100%;
        border-radius: 0;
        padding: 0;
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        background-color: #DFA931;
    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-sm,
    .navbar>.container-md,
    .navbar>.container-lg,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        justify-content: flex-end !important;
        display: flex;
        padding: 0 32px !important;
        height: 100px;
    }

    header #navbarNav {
        background-color: #000000bf !important;
    }

    .navbar-toggler {
        width: 32px;
        height: 32px;
        border: none;
        padding: 0 !important;
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        background: none !important;
        width: 32px;
        margin: 0 !important;
        top: 0;
    }

    .btn-close {
        --si-btn-close-color: #DFA931;
        --si-btn-close-bg: url(../img/close.svg);
        background-size: contain;
        width: 26px;
        height: 26px;
        padding: 0 !important;
        opacity: 1 !important;
    }

    .btn-close:hover {
        color: var(--si-btn-close-color);
        text-decoration: none;
        opacity: var(--si-btn-close-hover-opacity);
    }

    .navbar-nav {
        align-items: center;
    }

    .nav-item {
        padding: 0 0 48px !important;
    }

    header #navbarNav li a {
        font-size: 26px;
    }

    .offcanvas-header {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 45px !important;
        border: none !important;
    }

    .offcanvas-header.border-top {
        justify-content: center;
        height: 160px;
        padding-bottom: 60px !important;
    }

    .offcanvas-header.border-top img {
        height: 100px;

    }

    #services .cards {
        flex-direction: column;
    }

    #services .card-body img {
        transform: translateY(-107px);
        right: -5%
    }

    #services .card-hover {
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 60px;
    }

    #about {
        width: 95%;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: center;
    }

    #about .hero {
        display: flex;
    }

    #about .picture {
        width: 100%;
    }

    #about .hero {
        align-content: center;
        width: 100%;
    }

    #about .hero {
        display: flex;
        flex-direction: column-reverse;
    }

    #about .text {
        width: 100%;
        margin-bottom: 50px;
    }

    #who-we-serve p {
        max-width: 85vw;
    }
}

@media (max-width: 669px) {
    .container {
        max-width: 100% !important;
    }

    .jarallax .jarallax-img {
        background-position-x: left;
    }


    #intro .content {
        padding-top: 0 !important;
    }

    #intro h1.display-1 {
        font-size: 40px;
        padding: 10px 15px 0;
    }

    #intro .container img {
        width: 140px;
        margin-bottom: 10px;
    }

    #intro .container p {
        margin-bottom: 32px !important;
        max-width: 85%;
    }

    .jarallax .jarallax-img {
        margin-bottom: 0;
        background-position-x: 14% !important;
    }

    #services h2 {
        margin-bottom: 70px;
    }

    #who-we-serve img {
        transform: translateY(180px);
    }

    #who-we-serve .shine {
        height: 65vw;
        filter: blur(100px);
        width: 90vw;
        transform: translateY(290px);
    }



}